#master {
    height: 100%;
    width: 100%;
    background-color: dodgerblue;
}

#left-box {
    float: left;
    height: 150px;
    width: 25%;
    margin: 10px;
    background-color: darkgray
}

#right-box {
    float: right;
    height: 150px;
    width: 25%;
    margin: 10px;
    background-color: darkgray
}

#flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: gray;
}

#flex-container > div {
    height: 150px;
    width: 100%;
    margin: 10px;
}

#red-div {
    background-color: red;
}

#blue-div {
    background-color: blue;
}

#green-div {
    background-color: green;
}

#yellow-div {
    background-color: yellow;
}
